<!DOCTYPE html>
<html>

<head>
    <title>Мій сайт № 1</title>
    <link rel="stylesheet" href="style.css">

    <script>
        function visible_form() {
            var signin_form = document.getElementById('signin_form');
            signin_form.classList.add('visible');
            signin_form.classList.remove('hidden');
        }
    </script>

</head>

<body>
    <div>
        <nav class='navbar'>
            <div class='menu '>
                <a class='logo' href='/'>IT коледж</a>
            </div>
            <div class='menu'>
                <a href='/signup'>Реєстрація</a>
            </div>
            <div class='menu'>
                <a href='/signin'>Увійти</a>
            </div>
        </nav>
    </div>
    <h1>РФКІТ</h1>
    <div>
        <p>
            <b>Рівненський фаховий коледж інформаційних технологій</b> - це заклад фахової передвищої освіти, який є
            юридичною
            особою публічного права, що заснований на державній власності, здійснює свою діяльність на засадах
            неприбутковості та є бюджетною установою, що належить до сфери управління Міністерства освіти і науки
            України.
        </p>
    </div>
    <p>
        Юридичні адреси: Україна, 33027, м.Рівне, вул. Київська, 53, тел. (0362) 65-37-75 , e-mail -
        <a href="#">contact@rcit.ukr.education</a>
    </p>
    <div>
        <p>
            <b>Місія коледжу</b> полягає у створенні освітнього середовища, яке сприяє розвитку лідерів в аспекті
            громадських цінностей та культурних сенсів завдяки високоякісній освіті,
            враховуючи потреби ринку. Для нас важливо підтримувати формування національної свідомої особистості та
            надавати
            можливості служити людям та суспільству.
            Спільнота коледжу прагне стати центром інновацій у царині інформаційних технологій, здатною створювати та
            інтегрувати їх у різні галузі економіки.
            Ми формуємо кваліфікованих фахівців нової генерації, розвиваємо їх критичне та творче мислення, технічні
            навички
            та готовність до навчання протягом життя.
        </p>
    </div>
    <div><a href='https://www.rv-it.college/'>Рівненьский Фаховий Коледж Інформаційних Технологій</a></div>
    <div>
        <ul class='grid'>
            <li>
                <h4><a href='#'>ТАЄМНИЧІ ПІДЗЕМЕЛЛЯ РІВНОГО</a></h4>
                <img src='https://www.rv-it.college/images/stories/Podii/Ekskursii/2024.09.12_Pidzemellya_Rivne.jpg' />
                <span>17 вересня 2024</span>
                <p>
                    Здобувачі освіти групи ТР-2/1 відвідали екскурсію «Таємничі підземелля Рівного». Дізналися історію
                    виникнення туристичної атракції, перейняли навики роботи екскурсовода, які зможуть застосувати в
                    майбутньому на практиці.
                </p>
                <div><button>Детальніше...</button></div>
            </li>
            <li>
                <h4><a href='#'>Прийняття положення про студентське самоврядування</a></h4>
                <img
                    src='https://www.rv-it.college/images/stories/Podii/StudRada/2024.09.11_Pologennya_stud_rada3.jpg' />
                <span>12 вересня 2024</span>
                <p>
                    Важливим кроком розвитку студентської ініціативності, креативності і лідерства є запровадження
                    органів студентського самоврядування.
                </p>
                <div><button>Детальніше...</button></div>
            </li>
            <li>
                <h4><a href='#'>Поїздка студентів на равликову ферму: цікавість, навчання та гастрономічні відкриття</a>
                </h4>
                <img src='https://www.rv-it.college/images/stories/Podii/Ekskursii/2024.09.11_Ravlikova_ferma1.jpg' />
                <span>5 вересня 2024</span>
                <p>
                    Нещодавно здобувачі освіти Рівненського фахового коледжу інформаційних технологій відвідали одну з
                    найпопулярніших равликових ферм, де мали унікальну можливість дізнатися більше про цей незвичайний
                    вид господарства.
                </p>
                <div><button>Детальніше...</button></div>
            </li>
        </ul>
        <div class="hidden" id="signin_form">
            <div class="background-form"></div>
            <form action="#" class="signin_form">
                <h4>Увійти</h4>
                <label for="username_sign_in">Логін</label>
                <input type="text" name="username_sign_in" placeholder="Введіть логін" id="username_signin" />

                <label for="password_signin">Пароль</label>
                <input type="password" name="password_signin" placeholder="Введіть пароль" id="password_signin" />
                <div>
                    <button>Увійти</button>
                    <button>Зареєструватися</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>