<!DOCTYPE html>
<html>

<head>
    <title>Реєстрація</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="signup.css">
</head>

<body>
    {% block content %}
    <div>
        <nav class='navbar'>
            <div class='menu '>
                <a class='logo' href='/'>IT коледж</a>
            </div>
            <div class='menu'>
                <a href='/signup'>Реєстрація</a>
            </div>
            <div class='menu'>
                <a href='/signin'>Увійти</a>
            </div>
        </nav>
    </div>
    <div class='signup'>
        <h1>Форма для реєстрації</h1>
        <form method="POST"action="/signup" id="sign-up-form">
            <div>
                <label for='email'>Email</label>
                <input name='email' placeholder='Введіть свій е-мейл'></input>
            </div>
            <div>
                <label for='username'>Ім'я користувача</label>
                <input name='username' placeholder="Введіть своє ім'я користувача"></input>
            </div>
            <div>
                <label for='password'>Пароль</label>
                <input type='password' name='password' placeholder='Введіть свій пароль'></input>
            </div>
            <div>
                <label for='phone'>Номер Телефону</label>
                <input name='phone' placeholder='Введіть свій телефон'></input>
            </div>
            <div>
                <button type='submit'>Зареєструватися</button>
            </div>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% endblock %}
</body>

</html>